<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <%- include('./includes/mobile.ejs') %>

<!-- <div class ="carousel-container">
	<i class="fas fa-arrow-left" id = "prevBtn"></i>
	<i class="fas fa-arrow-right" id = "nextBtn"></i>
	<div class="carousel-slide">
		<img src="4.jpg" style="width: 100vw" id ="lastclone" alt="">
		<img src="1.jpg" style="width: 100vw" alt="">
		<img src="2.jpg" style="width: 100vw" alt="">
		<img src="3.jpg" style="width: 100vw" alt="">
		<img src="4.jpg" style="width: 100vw" alt="">
		<img src="1.jpg" style="width: 100vw" id ="firstclone"alt="">
	</div>	
</div> -->
<div class="carousel js-flickity">
  <!-- images from unsplash.com -->
  <div class="carousel-cell">
    <img src="/images/4.jpg" alt="orange tree" />
  </div>
  <div class="carousel-cell">
    <img src="/images/1.jpg" alt="submerged" />
  </div>
  <div class="carousel-cell">
    <img src="/images/2.jpg" alt="look-out" />
  </div>
  <div class="carousel-cell">
    <img src="/images/3.jpg" alt="One World Trade" />
  </div>
  <div class="carousel-cell">
    <img src="/images/4.jpg" alt="drizzle" />
  </div>
  <div class="carousel-cell">
    <img src="/images/1.jpg" alt="cat nose" />
  </div>
  <!-- <div class="carousel-cell">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" alt="contrail" />
  </div>
  <div class="carousel-cell">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" alt="golden hour" />
  </div>
  <div class="carousel-cell">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" alt="flight formation" />
  </div> -->
</div>
<!-- 
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

 -->


<div id="registrar-heading">
        ğ“ğ“«ğ“¸ğ“¾ğ“½ ğ“£ğ“±ğ“® ğ“–ğ“¾ğ“®ğ“¼ğ“½ ğ“—ğ“¸ğ“¾ğ“¼ğ“®
    </div>


    <div id="box1">
        <!-- <div class="registrar-image"></div> -->
        <div class="text1">
        	
            
            <div class="prof-name">
            <b style="font-size: 3vh">SWAGATAM.....</b>
            <br>
            <br>	
            NIT SILCHAR GUEST HOUSE WARMLY WELCOMES YOU TO WALK INTO PARADISE....
            <br>
            <br>
            <div class="heading">
            	The Institute Guest House, flanked by green lawns and colourful horticulture remains a pleasant haven for the Institute Guests, whether from academia or alumni or parents of the students. The state-of-the-art Guest House with all modern infrastructures is one of its kind in the North East. Some renowned personalities of the Nation in the likes of Former President of India and Bharat Ratna recipient Late Shri APJ Abdul Kalam and Hon'ble Minister of Railways, Shri Suresh Prabhakar Prabhu are eminent guests who stayed in the Guest House during their visit to this Valley.
            
            </div>
           <!--  <br>
        	</div>
            
            <br>
            
            <br>
            
            
            <br>
            <div class="heading"></div>
            
            <br>
            <div class="heading"></div>
            
            <br>
            <div class="heading"></div>
            
            <br>
            <div class="heading"> </div>
            <a href="#"></a>
            <br>
            <br> -->
        </div>
        </div>
    </div>


    <div id="dean-heading">
      
    </div>


    <div id ="container">
        <div id="box2">
            <div class = "dean-image1">
                 <div id="dean-image1-overlay">
                     
                     <div class="prof-heading">
                     	<b>OTHER LINKS</b>
                     </div>
                           <!--      <br>
                                
                                <br>
                                  
                                <br>
                            -->     
                 </div>   
            </div>

        </div>    

        <div id="box3">
            <div class="dean-image2">
                <div id="dean-image2-overlay">
                     
                     <div class="prof-heading">
                     	<b>ROOM FEATURES</b>
                     </div>
                           <!--      <br>
                                 
                                <br>
                                  
                                <br>
                            -->     
                 </div>
            </div>
        </div>

        <div id="box4">
            <div class="dean-image3">
                <div id="dean-image3-overlay">
                     
                     <div class="prof-heading">
                     	<b>GUEST HOUSE FACILITIES</b>
                     </div>
                              <!--   <br>       
                                 
                                <br>
                                   
                                <br>
                                  -->
                 </div>
            </div>
        </div>
    </div>

<div id = "map">    
<div class="mapouter">
	<div class="gmap_canvas">
		<iframe width="100%" height="500" margin-bottom="2vh" id="gmap_canvas" src="https://maps.google.com/maps?q=national%20institute%20of%20technology%20%2C%20silchar%20%2C%20assam&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"  marginwidth="0">	
		</iframe>
		<a href="https://www.embedgooglemap.org">embed google map, html
		</a>
	</div>	
</div>
</div>
<%- include('./includes/footer.ejs') %>
<!-- <script src="/path/to/flickity.pkgd.min.js"></script> -->
<script>
    const menu = document.querySelector("#menu");
    const abtItem = document.querySelector("#abt-item");
    const abtSub = document.querySelector("#abt-sub");


    const hamburger = document.querySelector("#hamburger");

    hamburger.addEventListener("click", () => {
        menu.classList.toggle("hidden");
    });
    abtItem.addEventListener("click", () => {
        abtSub.classList.toggle("hidden");
    });
</script>

<script>
	const carouselslide = document.querySelector('.carousel-slide');
	const carouselimages = document.querySelectorAll('.carousel-slide img')
</script>

<script>
	const prevBtn = document.querySelector('#prevBtn');
	const nextBtn = document.querySelector('#nextBtn');
</script>

<script>
	let counter = 1;
	const size = carouselimages[0].clientWidth;
	carouselslide.style.transform = 'translateX(' + (-size*counter )+'px)';
</script>

<script>

	nextBtn.addEventListener('click',()=>{
		if(counter >= carouselimages.length -1) return;
		carouselslide.style.transition = "transform 0.4s ease-in-out";
		counter++;
		carouselslide.style.transform = 'translateX(' + (-size*counter )+'px)';
	});

	prevBtn.addEventListener('click',()=>{
		if(counter<=0) return;
		carouselslide.style.transition = "transform 0.4s ease-in-out";
		counter--;
		carouselslide.style.transform = 'translateX(' + (-size*counter )+'px)';
	});

	carouselslide.addEventListener('transitionend',()=>{
	
		if(carouselimages[counter].id === 'lastclone'){
			carouselslide.style.transition = "none";
			counter = carouselimages.length - 2;
			carouselslide.style.transform = 'translateX(' + (-size*counter )+'px)'; 
		}

		if(carouselimages[counter].id === 'firstclone'){
			carouselslide.style.transition = "none";
			counter = carouselimages.length - counter;
			carouselslide.style.transform = 'translateX(' + (-size*counter )+'px)'; 
		} 
	});
</script>
<%- include('./includes/end.ejs') %>
